In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
df = pd.read_excel('/Users/saki/Desktop/AI-Human-PewData.xlsx')

In [11]:
df.head()

,Unnamed: 0,QKEY,INTERVIEW_START_W99,INTERVIEW_END_W99,DEVICE_TYPE_W99,LANG_W99,FORM_W99,XTABLET_W99,TECH1_W99,SC1_W99,...,F_PARTYLN_FINAL,F_PARTYSUM_FINAL,F_PARTYSUMIDEO_FINAL,F_INC_SDT1,F_REG,F_IDEO,F_INTFREQ,F_VOLSUM,F_INC_TIER2,WEIGHT_W99
0,0,100260,2021-11-03 14:25:27,2021-11-03 14:45:34,Laptop/PC,English,Form 2,Non-tablet HH,NaN,Mostly positive,...,NaN,Rep/Lean Rep,Conservative Rep/Lean,"$50,000 to less than $60,000",You are ABSOLUTELY CERTAIN that you are regist...,Very conservative,Several times a day,No,Middle income,0.206396
1,1,100314,2021-11-04 12:35:35,2021-11-04 12:55:29,Smartphone,English,Form 1,Non-tablet HH,Mostly positive,NaN,...,NaN,Rep/Lean Rep,Moderate/Liberal Rep/Lean,"$40,000 to less than $50,000",You are ABSOLUTELY CERTAIN that you are regist...,Liberal,Several times a day,Yes,Middle income,0.315090
2,2,100363,2021-11-03 20:23:43,2021-11-03 20:36:24,Smartphone,English,Form 1,Non-tablet HH,Mostly positive,NaN,...,NaN,Dem/Lean Dem,Moderate/Conservative Dem/Lean,"$100,000 or more",You are ABSOLUTELY CERTAIN that you are regist...,Moderate,Several times a day,No,Upper income,0.829579
3,3,100598,2021-11-02 13:01:05,2021-11-04 12:37:42,Laptop/PC,English,Form 2,Non-tablet HH,NaN,Mostly positive,...,NaN,Rep/Lean Rep,Conservative Rep/Lean,"$100,000 or more",You are ABSOLUTELY CERTAIN that you are regist...,Conservative,Several times a day,Yes,Upper income,0.337527
4,4,100637,2021-11-02 12:32:58,2021-11-02 12:46:23,Laptop/PC,English,Form 2,Non-tablet HH,NaN,Equal positive and negative effects,...,The Republican Party,Rep/Lean Rep,Conservative Rep/Lean,"$30,000 to less than $40,000",You are ABSOLUTELY CERTAIN that you are regist...,Very conservative,Less often,No,Lower income,1.210606

In [46]:
c_df = df.iloc[0:10260]

predictors = ['F_METRO', 'F_CREGION', 'F_AGECAT','F_GENDER','F_EDUCCAT','F_EDUCCAT2','F_HISP','F_YEARSINUS','F_RACECMB','F_RACETHNMOD','F_CITIZEN','F_BIRTHPLACE']
outcome = 'F_INC_SDT1'

In [47]:
X = c_df[predictors]
y = c_df[outcome]

In [48]:
X.head()

,F_METRO,F_CREGION,F_AGECAT,F_GENDER,F_EDUCCAT,F_EDUCCAT2,F_HISP,F_YEARSINUS,F_RACECMB,F_RACETHNMOD,F_CITIZEN,F_BIRTHPLACE
0,Metropolitan,West,65+,A man,College graduate+,College graduate/some post grad,No,Born in US (not including unincorporated terri...,White,White non-Hispanic,Yes,"U.S. – 50 states, District of Columbia"
1,Non-metropolitan,Midwest,65+,A man,Some College,"Some college, no degree",No,Born in US (not including unincorporated terri...,White,White non-Hispanic,Yes,"U.S. – 50 states, District of Columbia"
2,Metropolitan,Northeast,30-49,A woman,College graduate+,Postgraduate,No,Born in US (not including unincorporated terri...,White,White non-Hispanic,Yes,"U.S. – 50 states, District of Columbia"
3,Metropolitan,West,50-64,A woman,College graduate+,Postgraduate,No,Born in US (not including unincorporated terri...,White,White non-Hispanic,Yes,"U.S. – 50 states, District of Columbia"
4,Metropolitan,South,65+,A woman,Some College,Associate's degree,No,Born in US (not including unincorporated terri...,White,White non-Hispanic,Yes,"U.S. – 50 states, District of Columbia"

In [50]:
len(df)

10260

In [57]:
c_df["F_EDU"] = c_df['F_EDUCCAT'] + ' : ' + c_df['F_EDUCCAT2']

/var/folders/v8/61xx6l9j6t3bbm3w1j9thf480000gn/T/ipykernel_11607/100680127.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df["F_EDU"] = c_df['F_EDUCCAT'] + ' : ' + c_df['F_EDUCCAT2']

In [58]:
c_df["F_EDU"]

0        College graduate+ : College graduate/some post...
1                   Some College : Some college, no degree
2                         College graduate+ : Postgraduate
3                         College graduate+ : Postgraduate
4                        Some College : Associate's degree
                               ...
10255         H.S. graduate or less : High school graduate
10256    College graduate+ : College graduate/some post...
10257                    Some College : Associate's degree
10258               Some College : Some college, no degree
10259    College graduate+ : College graduate/some post...
Name: F_EDU, Length: 10260, dtype: object

In [62]:
c_df['F_EDUCCAT'].nunique()

4

In [63]:
c_df['F_EDUCCAT2'].nunique()

7

In [64]:
c_df['F_EDU'].nunique()

7

In [69]:
c_df['F_EDU'].value_counts()

F_EDU
College graduate+ : College graduate/some post grad    2824
College graduate+ : Postgraduate                       2399
Some College : Some college, no degree                 2149
H.S. graduate or less : High school graduate           1420
Some College : Associate's degree                      1110
H.S. graduate or less : Less than high school           326
Refused : Refused                                        32
Name: count, dtype: int64